@charset "utf-8";
@-webkit-keyframes move {
    0% {
        -webkit-transform: rotate(-50deg);
    }
    50% {
        -webkit-transform: rotate(50deg);
    }
    100% {
        -webkit-transform: rotate(-50deg);
    }
}
body {
	background-color: #2e2f2e;
	margin: 0;
	font-size: 50px;
}
h1,
p,
button {
	color: #ffffff;
}
button:focus {outline:0;}
input:focus {outline:0;}
button {
	background-color: rgba(0,0,0,0);
	border: none;
	padding: 0;
}
p,
button,
h1 {
	font-family: Calibri, Arial, sans-serif;
	font-weight: 500;
}
h1 {
	font-size: 1.3em;
	padding-left: 20px; 
	margin: 5px 0 30px 0;
}
#wrap {
	display: block;
	width: 100%;
	overflow-x: hidden;
	opacity: 1;
	}

/*circle meter part*/
#circleMeter {
	position: relative;
	display: block;
	width: 300px;
	height: 300px;
	background-color: #212121;
	border-radius: 100%;
	border: 5px solid #ff9966;
	margin: 0 auto;
	text-align: center;
	box-shadow: inset 5px 10px 20px #333;
}
#circleMeter:active {
	
	box-shadow: inset 0px 0px 50px #444;
}
#indicator {
	float: right;
	margin-right: 40px;
	margin-top: 5px;
	width: 25px;
	height: 25px;
	background-color: #2e2f2e;
	border-radius: 100%;
	border: 2px solid #ff9966;
	box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.45);
	box-shadow: inset 2px 2px 3px #555;
}

#lineThrough {
	position: relative;
	background: #ff9966;
	height: 2px;
	width: 100%;
	top: 50%;
	display: block;
}
#bpmCount {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: default;	
	position: relative;
	top: 40%;
}
#bpmCount #bpm {
	display: block;
	font-size: 0.4em;
	line-height: 0.5;
	text-transform: uppercase;
}
#needle {
	background-color: #f0f0f0;
	width: 3px;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	height: 150px;
	border-radius: 3px;
	-webkit-animation:move infinite;
	-moz-animation:move infinite;
	-o-animation:move infinite;
	-webkit-animation:move infinite;
	-webkit-animation-timing-function: cubic-bezier(55,5,55,5);
	-webkit-animation-duration: 1s;
    -webkit-transform-origin:bottom;
}
/* control panels */
#controls {
	width: 100%;
	margin-top: 20px;
	line-height: 0.5;
	display: block;
	text-align: center;
}
#controls input {
	text-align: right;
	font-size: 0.8em;
	background-color: #2e2f2e;
	border: none;
	color: #fff;
}
#num,
#measurement {
	display: inline;
	max-width: 33%;
}
#num {
	width: 100px;
	margin-left: 5px;
}
#meas {
	display: inline-block;
	width: 50px;
	text-align: left;
	
}
#measTxt {
	display: inline;
	color: #eee;
	font-size: 0.88em;
}
input::placeholder {
	color: #eee;
}
/*speaker section*/
#speaker {
	margin: 0;
	width: 60px;
	display: inline-block;
	vertical-align: top;
}
#speaker img {
	height: 46px;
}
.speaker_ray {
	position: absolute;

}
@-webkit-keyframes pulse {
	0%,
	40% {opacity: 0;}
	70%,
	100% {opacity: 1;}
}
.speaker_ray-animate:nth-child(2) {
	animation: pulse 1s infinite;
	-webkit-animation: pulse 600ms infinite 20ms;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
}
.speaker_ray-animate:nth-child(3) {
	animation: pulse 1s infinite 110ms;
	-webkit-animation: pulse 600ms infinite 110ms;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
}
.speaker_ray-animate:nth-child(4) {
	animation: pulse 1s infinite 180ms;
	-webkit-animation: pulse 600ms infinite 180ms;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
}
.active {
}
/* blur */
.blur {
	transition: all 1000ms ease-in-out;
	-webkit-filter: blur(2px) grayscale(10);
	
}
@media screen and (min-width: 700px) {
	body {
		margin: 0;
		background-color: #ddd;
	}
	#controls {
		margin-bottom: 100px;
	}
	#bg {
		background-image: url(../wallpaper.jpg);
		background-size: cover;
		position: fixed;
		width: 100%;
		height: 100%;
		opacity: 0.1;
	}
	#wrap {
		margin-top: 10px;
		width: 500px;
		padding: 0px 20px 20px 20px;
		background-color: #2e2f2e;
		border-radius: 20px;
		position: absolute;
		left: 50%;
		margin-left: -250px;
		box-shadow: -5px 7px 10px 5px rgba(0,0,0,0.45);
		border: 5px solid #444;
	}

}
@media screen and (max-width: 500px) {
	#circleMeter {
		transform: scale(0.9);
		-webkit-transform: scale(0.9);
	}
	#wrap { 
		padding: 0;
	}
	#indicator {
		margin-right: 20px;
	}
}